<div class="p-4 mt-3" *ngIf="!isPlayerModificationInProgress">
  <h2>Informations:</h2>
  <hr />
  <p>Prénom: {{ player.firstName }}</p>
  <p>Nom: {{ player.lastName }}</p>
  <p>Genre: {{ player.gender }}</p>
  <p>Niveau de pratique du badminton: {{ player.badmintonLevel }}</p>

  <div class="text-right">
    <button class="btn btn-primary" (click)="enablePlayerModification()">
      Modifier
    </button>
  </div>
</div>

<div class="p-4" *ngIf="isPlayerModificationInProgress">
  <app-data-player-form
    [isPlayerModificationInProgress]="
      isPlayerModificationInProgress
    "
    (isPlayerModificationInProgressEvent)="
      onDisablePlayerModificationInProgress($event)
    "
  ></app-data-player-form>
</div>
