<nav class="navbar navbar-expand bg-dark justify-content-between">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="mr-3">
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="mr-3" *ngIf="showPlayerBoard">
      <a routerLink="/player" routerLinkActive="active">Profil</a>
    </li>
    <li class="mr-3" *ngIf="showCompanyBoard">
      <a routerLink="/company" routerLinkActive="active">Profil</a>
    </li>
    <li class="mr-3" *ngIf="showAdminBoard">
      <a routerLink="/admin" routerLinkActive="active" >Administration</a>
    </li>
    <li class="mr-3" *ngIf="showCreateSession">
      <a routerLink="/create-session" routerLinkActive="active">Créer une session</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li *ngIf="!isLoggedIn">
      <a routerLink="/signin" routerLinkActive="active" class="btn btn-primary mr-2">Connexion</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/signup" routerLinkActive="active" class="btn btn-primary" >S'inscrire</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a class="btn btn-danger" (click)="logout()" >Déconnexion</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
