<div class="d-flex align-items-center h-100 text-center">
  <form
    *ngIf="!isSuccessful"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="registerForm mx-auto p-4 rounded-lg bg-light"
  >
    <div class="form-group">
      <h1>Inscription</h1>
      <input
        class="form-control mb-2"
        type="text"
        formControlName="email"
        placeholder="Email"
      />
      <div
        class="alert alert-danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be valid</div>
      </div>
      <input
        class="form-control mb-2"
        type="password"
        formControlName="password"
        placeholder="Mot de passe"
      />
      <div
        class="alert- alert-danger"
        *ngIf="password.invalid && (password.dirty || password.touched)"
      >
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
      <input
        class="form-control mb-2"
        type="password"
        formControlName="passwordConfirm"
        placeholder="Confirmer mot de passe"
      />
      <input
        class="form-control mb-2"
        type="text"
        formControlName="firstName"
        placeholder="Prénom"
      />
      <input
        class="form-control mb-2"
        type="text"
        formControlName="lastName"
        placeholder="Nom"
      />
      <select class="form-control mb-2" formControlName="gender">
        <option value="" selected disabled>Selectionner votre genre</option>
        <option value="Femme">Femme</option>
        <option value="Homme">Homme</option>
      </select>
      <select class="form-control mb-2 " formControlName="badmintonLevel">
        <option value="" selected disabled>
          Sélectionner votre niveau
        </option>
        <option value="Débutant">Débutant</option>
        <option value="Régulier">Intermédiaire</option>
        <option value="Confirmé">Confirmé</option>
      </select>
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        S'inscrire
      </button>
    </div>
    <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Signup failed!<br />{{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>
</div>
